<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <span id="reauth-email" class="reauth-email"></span>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", :placeholder => "First Name", required: true %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", :placeholder => "Last Name", required: true %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :placeholder => "Email address" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", :placeholder => "Password"%><% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", :placeholder => "Confirm Password" %>
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block btn-signin"%>
    <% end %><!-- /form -->
    <%= render "devise/shared/links", class: "forgot-password" %>
  </div>
</div>
