
                <div class="col-sm-12 col-md-12 well" id="content">
                   <h1>Welcome <%= current_user.admin? ? "Admin!" : "User!"%></h1>
                </div>
                <div id="response" class="container tab-pane active"><br>
				  <div class="row h-100 justify-content-center align-items-center">
				    <table class="table">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th >Questionnaire Form</th>
				          <th>User</th>
				          <th>Actions</th>
				        </tr>
				      </thead>
				      <tbody>
				        <% i = 0%>
				        <% @forms.each do |form| %>
				          <% i += 1 %>
				          <tr>
				           <td><%= i%></td>
				           <td><%= form.form_title %></td>
				           <td><%= form.user.first_name %> <%= form.user.last_name %> </td>
				           <td><%= link_to 'Response', form %>
				            <%= link_to 'Preview', preview_forms_path(id: form) %>
				            <%= link_to 'Edit', edit_form_path(form) %>
				            <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				          </tr>
				        <% end %>
				      </tbody>
				    </table>
				  </div>
				</div>
        