<h2 align="center">Response</h2>


<div class="container mt-3">
  <h2><%= @form.form_title%></h2>
  <br>
 <%ql = 0 %>
  <% @form.questionnaires.each do |q| %>
    <div class="form-group row">
      <div class="col-xs-4">
        <% ql += 1 %>
        Q<%= ql %>. <label for="ex1"><%= q.questions%></label>
        <% unless @form.answers.blank? %>
          <% values = @form.answers.pluck(q.id.to_s)%>
          <%i = 0%> 
          <% values.each do |v|%>
            <% i += 1 %>
            <div>
              <%= i%>. <%= v%>
            </div>
          <% end%>
        <% else %>
           <p>No response yet</p>
        <% end %>
      </div>
		</div>
  <% end %>
  
</div>