
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>



<div class="container mt-3">
  <h2><%= @form.form_title%></h2>
  <br>
 
  <% @form.questionnaires.each do |q| %>
    <div class="form-group row">
      <div class="col-xs-4">
        <label for="ex1"><%= q.questions%></label>
        <% values = @form.answers.pluck(q.id.to_s)%>
        <%i = 0%>
        <% values.each do |v|%>
        <% i += 1 %>
          <div>
           <%= i%>. <%= v%>
          </div>
        <% end%>
      </div>
		</div>
  <% end %>
  
</div>